section {
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

input {
  height: 2.5rem;
  margin: 1rem 0;
  padding-left: 1rem;
  border: 1px grey solid;
  box-sizing: border-box;
}
.longOne {
  width: calc(100% - ((100% - 90vw) * 2 / 3));
}
.shortOne {
  width: 45vw;
}
.checkbox {
  width: 10%;
  display: flex;
  align-items: center;
}
.checkbox:hover {
  cursor: pointer;
}
.checkbox input {
  width: 20%;
  margin-right: 5px;
}

form {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.agreementDiv {
  display: flex;
  width: 80%;
  margin: auto;
}

.agreementDiv p {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
}

button {
  height: 2.5rem;
  width: 45vw;
  margin: 1rem 0;
  border: none;
}
button:hover {
  cursor: pointer;
}

input,
button {
  border-radius: 5px;
  font-size: 1rem;
}

.registerText {
  display: flex;
  width: 4rem;
  justify-content: center;
  background-color: #1597e5;
  color: #f9f9f9;
  border-radius: 2px;
}

.registerText:hover {
  cursor: pointer;
}

.termCondition {
  color: #005f99;
  text-decoration: none;
  margin: 0 0.25rem;
}

.termCondition:hover {
  text-decoration: underline;
}

.blue {
  background-color: #77acf1;
}

.green {
  background-color: #9ede73;
}

.blue,
.green {
  color: #f4f9f9;
}

@media screen and (max-width: 1000px){
  form {
    justify-content: center;
  }
  .longOne,
  .shortOne,
  .agreementDiv,
  button {
    width: 51%;
  }

  .agreementDiv {
    flex-direction: column;
  }

  .checkbox {
    width: 40%;
  }

  .checkbox input {
    width: 10%;
  }
}
