
  
  h1 {
    text-align: center;
    font-size: 3rem;
  }
  
  input {
    height: 2.5rem;
    width: 100%;
    margin: 1rem;
    padding-left: 1rem;
    border: 1px grey solid;
  }
  .shortOne {
    width: 45vw;
  }
  .checkbox {
    width: 10%;
    display: flex;
    align-items: center;
  }
  .checkbox:hover {
    cursor: pointer;
  }
  .checkbox input {
    width: 20%;
  }
  
  form {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  
  .agreementDiv {
    display: flex;
    width: 80%;
    margin: auto;
  }
  
  .agreementDiv p {
    margin: auto;
    display: flex;
    flex-flow: row wrap;
  }
  
  button {
    height: 3rem;
    width: 46vw;
    margin: 1rem;
    border: none;
  }
  button:hover {
    cursor: pointer;
  }
  
  input,
  button {
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .registerText {
    display: flex;
    width: 4rem;
    justify-content: center;
    background-color: #1597e5;
    color: #f9f9f9;
    border-radius: 2px;
  }
  
  .registerText:hover {
    cursor: pointer;
  }
  
  .termCondition {
    color: #005f99;
    text-decoration: none;
    margin: 0 0.25rem;
  }
  
  .termCondition:hover {
    text-decoration: underline;
  }
  
  .blue {
    background-color: #77acf1;
  }
  
  .green {
    background-color: #9ede73;
  }
  
  .blue,
  .green {
    color: #f4f9f9;
  }

  @media screen and (max-width: 1280px){
    input {
      padding-left: 0.5rem;
      width: 45vw;
    }
  }

  @media screen and (max-width: 1040px){
    form {
      display: flex;
      justify-content: center;
    }
    button {
      margin-right: 2vw;
    }
  }
